@using CarHouse.DataAccess

@{
    ViewData["Title"] = "Car Details";
}
@model Car

<style>
    .title {
        font-size: 14px;
        font-weight: bold;
    }
    p {
        font-size: 12px;
    }
    .grid-container-4-row {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 5px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        font-size: 10px;
        text-align: center;
    }
    .grid-item-overview {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2px;
        font-size: 10px;
        text-align: left;
    }
    .grid-item-overview-right {
        grid-column: span 3;
    }
    button {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
    }

</style>
<div class="text-center">
    <h1>@Model.Year @Model.Make @Model.Model</h1>
    <div class="grid-container-4-row">
        <div class="grid-item">
            <p class="title">Make</p>
            <p>@Model.Make</p>
        </div>
        <div class="grid-item">
            <p class="title">Model</p>
            <p>@Model.Model</p>
        </div>
        <div class="grid-item">
            <p class="title">Year</p>
            <p>@Model.Year</p>
        </div>
        <div class="grid-item">
            <p class="title">Odometer</p>
            <p>@Model.OdometerKm</p>
        </div>
    </div>
    <h2>Notes</h2>
    <p>@Model.Notes</p>
    <h2>Overview</h2>
    <div class="grid-container-4-row">
        <div class="grid-item-overview">
            <p class="title">Make</p>
        </div>
        <div class="grid-item-overview grid-item-overview-right">
            <p>@Model.Make</p>
        </div>
        <div class="grid-item-overview">
            <p class="title">Make</p>
        </div>
        <div class="grid-item-overview grid-item-overview-right">
            <p>@Model.Make</p>
        </div>
        <div class="grid-item-overview">
            <p class="title">Year</p>
        </div>
        <div class="grid-item-overview grid-item-overview-right">
            <p>@Model.Year</p>
        </div>
        <div class="grid-item-overview">
            <p class="title">Price</p>
        </div>
        <div class="grid-item-overview grid-item-overview-right">
            <p>@Model.AdvertisedPrice</p>
        </div>
        <div class="grid-item-overview">
            <p class="title">Odometer</p>
        </div>
        <div class="grid-item-overview grid-item-overview-right">
            <p>@Model.OdometerKm</p>
        </div>
        <div class="grid-item-overview">
            <p class="title">Registration</p>
        </div>
        <div class="grid-item-overview grid-item-overview-right">
            <p>@Model.RegistrationNumber</p>
        </div>
        <div class="grid-item-overview">
            <p class="title">AcquisitionDate</p>
        </div>
        <div class="grid-item-overview grid-item-overview-right">
            <p>@Model.AcquiredDate.ToString("D")</p>
        </div>
    </div>


    @using (Html.BeginForm("EditCarView", "Home", new { id = @Model.CarId }, FormMethod.Post))
    {
        <button class="btn btn-primary" name="myButton" id="myButton"><span class="fas fa-edit" aria-hidden="true"/> Edit Car</button>
    }
    @using (Html.BeginForm("DeleteCar", "Home", new { id = @Model.CarId }, FormMethod.Post))
    {
        <button class="btn btn-primary" name="myButton" id="myButton"><span class="fas fa-trash" aria-hidden="true"/> Delete Car</button>
    }
    @if (Model.AvailableFlag == false)
    {
        @using (Html.BeginForm("ReObtainCar", "Home", new { id = @Model.CarId }, FormMethod.Post))
        {
            <button class="btn btn-primary" name="myButton" id="myButton"><span class="fas fa-recycle" aria-hidden="true"/> ReObtain Car</button>
        }
    }

    @{
        ViewBag.Title = "Car Sale";
    }

    <title>@ViewBag.Title</title>


    <div>
        <fieldset>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                    @if (Model.AvailableFlag == true)
                    {
                        <button id="btnShowModal" type="button"
                                class="btn btn-primary">
                            <span class="fas fa-dollar-sign" aria-hidden="true"/>
                            Sell Car
                        </button>
                    }
                        <div class="modal fade" tabindex="-1" id="loginModal"
                             data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Sell Car</h4>
                                    </div>
                                    <div class="modal-body">
                                        @using (Html.BeginForm("SellCar", "Home", new { id = @Model.CarId }, FormMethod.Post))
                                        {
                                            <div class="form-group">
                                                <h2>Sale Details</h2>
                                                <input class="form-control" type="number" name="salePrice" value=@Model.AdvertisedPrice required/>
                                                <input class="form-control" type="text" placeholder="Salesman" name="salesmanName" required/>
                                            </div>
                                            <div>
                                                <h2>Customer Details</h2>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="text"
                                                       placeholder="FirstName" name="firstName" required/>
                                                <input class="form-control" type="text"
                                                       placeholder="LastName" name="lastName" required/>
                                                <input class="form-control" type="text"
                                                       placeholder="Drivers License Number" name="licenseNo" required/>
                                                <input class="form-control" type="text"
                                                       placeholder="ContactNumber" name="contactNo" required/>
                                                <input class="form-control" type="email"
                                                       placeholder="Email" name="email" required/>
                                                <input class="form-control" type="text"
                                                       placeholder="Residential Suburb" name="suburb" required/>
                                                <input class="form-control" type="text"
                                                       placeholder="Residential Postcode" name="postCode" required/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Complete Sale</button>
                                                <button type="button" id="btnHideModal" class="btn btn-primary">
                                                    Cancel
                                                </button>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#btnShowModal").click(function() {
                $("#loginModal").modal('show');
            });

            $("#btnHideModal").click(function() {
                $("#loginModal").modal('hide');
            });
        });
    </script>
</div>


