@using CarHouse.DataAccess
@{
    ViewData["Title"] = "Car Search";
}
@model List<CarModel>
<style>
    .head-container {
        box-shadow: 5px 5px 10px grey;
    }
    .grid-container-4-row {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 5px;
    }
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        font-size: 10px;
        text-align: center;
    }
    span {
        font-size: 16px;
    }
</style>
<div class="text-center">
    <div class="head-container">
        <h1 class="display-4">Car Search</h1>

    @using (Html.BeginForm("CarSearchView", "Home", FormMethod.Post))
    {
        <div class="grid-container-4-row">
            <div class="grid-item">
                <span class="title">Make: </span>
                <td><input type="text" name="make"/></td>
            </div>
            <div class="grid-item">
                <span class="title">Model: </span>
                <td><input type="text" name="model"/></td>
            </div>
            <div class="grid-item">
                <span class="title">Registration: </span>
                <td><input type="text" name="registration"/></td>
            </div>
            <div class="grid-item">
                <span class="title">Year: </span>
                <td><input type="number" name="year"/></td>
            </div>
            <div class="grid-item">
                <span class="title">Minimum Price: </span>
                <td><input type="number" name="minimumPrice"/></td>
            </div>
            <div class="grid-item">
                <span class="title">Maximum Price: </span>
                <td><input type="number" name="maximumPrice"/></td>
            </div>
            <div class="grid-item">
                <span class="title">Available Only:</span>
                <input type="checkbox" name="availableOnly" value="true"/>
            </div>
        </div>
    }
    
    </div>
    @foreach (var item in @Model)
    {
        @using (Html.BeginForm("CarDetailsView", "Home",
            new { id = @item.CarId }, FormMethod.Post))
        {
            <button class="btn item" style="width: 50%">
                <h2>@item.Year @item.Make @item.Model</h2>

                <div style="flex-direction: row">
                    <p><span class="title">Price:</span>@item.AdvertisedPrice <span class="title">KM:</span>@item.OdometerKm</p>
                </div>
                @if (item.AvailableFlag == false)
                {
                    <p class="title">Unavailable</p>
                }
            </button>
        }
    }

</div>
