@{
    ViewData["Title"] = "Home Page";
}
@model List<CarModel>
<style>

</style>
<div class="text-center">
    <h1 >Welcome to Car House</h1>
 
      @using (Html.BeginForm("AddCarView", "Home", FormMethod.Post))
    {
            <button class="btn btn-primary" name="myButton" id="myButton" ><span class="fas fa-plus" aria-hidden="true"/> Add Car</button>
    }

          @foreach (var item in @Model)
          {
              @using (Html.BeginForm("CarDetailsView", "Home",
                  new { id = @item.CarId }, FormMethod.Post))
              {
                  <button class="btn item" style="width:50%">
                          <h2>@item.Year @item.Make @item.Model</h2>
                         
                          <div style="flex-direction: row">
                              <p><span class="title">Price:</span>@item.AdvertisedPrice <span class="title">KM:</span>@item.OdometerKm</p>
                          </div>
                      </button>
              }
          }

</div>
